<article class="card">
    {{#if feature_image}}
        <a href="{{url}}" class="card-image">
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w"
                sizes="(max-width: 600px) 100vw, 300px"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
            >
        </a>
    {{/if}}
    <div class="card-body">
        {{#if primary_tag}}
            <a href="{{primary_tag.url}}" class="card-tag">{{primary_tag.name}}</a>
        {{/if}}
        <h3 class="card-title"><a href="{{url}}">{{title}}</a></h3>
        {{#if custom_excerpt}}
            <p class="card-excerpt">{{custom_excerpt}}</p>
        {{else}}
            <p class="card-excerpt">{{excerpt words="25"}}</p>
        {{/if}}
        <span class="card-meta">{{date format="MMM D, YYYY"}}</span>
    </div>
</article>
