<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Source+Sans+3:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset "css/variables.css"}}">
    <link rel="stylesheet" href="{{asset "css/screen.css"}}">

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="site-wrapper">
        {{> header}}

        <main class="site-main">
            {{{body}}}
        </main>

        {{> footer}}
    </div>

    <script src="{{asset "js/main.js"}}"></script>
    {{ghost_foot}}
</body>
</html>
